= form_for @mood do |f|
  - if @mood.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mood.errors.count, "error")} prohibited this mood from being saved:"
      %ul
        - @mood.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :short
    = f.text_field :short
  .field
    = f.label :note
    = f.text_area :note
  .actions
    = f.submit 'Save'
